<div class="chat " style='height: 35rem'>
    <div class="chat-history" style='height: 100%; text-align:center'>
        <span class="badge bg-light text-dark" style='margin-top: 25%'>Select a chat to start messaging</span>
    </div>
</div>
