<div class="card" style="width: 18rem;">
    <div class="card-header">
      Your Friends
    </div>
    <ul class="list-group list-group-flush">
      <% user.friends.each do |friend| %>
        <li class="list-group-item">
          <%= friend.username %>
          <%= link_to 'Create Game',
            games_path(user_id: user.id, friend_id: friend.id),
            data: { "turbo-method": :post },
            class: 'btn btn-outline-primary float-end'
          %>
        </li>
      <% end %>
    </ul>
  </div>
