<div class="card" style="width: 18rem;">
    <div class="card-header">
      Pending Games
    </div>
    <ul class="list-group list-group-flush">
      <% user.pending_games.each do |game| %>
        <li class="list-group-item">
          <%= game.opponent_of(user).username %>
          <%= link_to 'Open', game, class: 'btn btn-outline-primary float-end' %>
        </li>
      <% end %>
    </ul>
  </div>
