

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet">
<body class='center'>
  <div class='clicker'>
    <button
      class="style-5"
      data-reflex="click->Counter#increment"
      data-step="1"
      data-count="<%= @count.to_i %>"
    ><%= @count %> ⚡</button>
  </div>
</body>
