

<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap" rel="stylesheet">
<body class='center'>
  <div class='clicker'>
    <button
      class="style-5"
      data-controller="clicker"
      data-action="click->clicker#increment"
    ><%= @count %> ⚡</button>
  </div>
</body>
